#find-a-project {
  width: 90% !important;
}

table.dataTable {
  width: 100% !important;
}

.flex-control {
  display: flex;
  justify-content: space-between;
}

.echarts4r .html-widget .html-widget-static-bound {
  min-width: 90% !important;
}

canvas {
  min-width: 90% !important;
}

@media screen and (min-width: 1400px) {
  .col-xs-4 > .html-widget-static-bound {
    width: 35em !important;
    padding: 1em !important;
  }
}

#twitter > .chart-stage {
  overflow-y: scroll;
}
